@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.ta-left {
  text-align: left;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*This defines what 1rem is*/
  font-size: 62.5%;
  max-width: 100%;
}

body {
  box-sizing: border-box;
}

section {
  clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  position: relative;
}

.footer {
  background-color: #63b99a;
  background: linear-gradient(to right, #63b99a, #207181);
  grid-column: full-start / full-end;
  padding: 8rem 3rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  margin-bottom: 2rem;
}

.footer__info--copy {
  font-size: 1.8rem;
}

.footer .social {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer .social--icons {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  transition: transform 0.2s;
}

.footer .social--icons:hover {
  transform: translateY(-3px);
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.footer .social--icons:active {
  transform: translateY(-1px);
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.footer__logo {
  height: 13rem;
  width: 13rem;
  margin-right: 3rem;
}

@media only screen and (max-device-width: 640px) {
  .footer {
    padding: 5rem 3rem 2rem 3rem;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__logo {
    height: 12rem;
    width: 12rem;
    margin: 0 0 3rem 0;
  }
  .footer .social {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-device-width: 375px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-device-width: 360px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-device-width: 330px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #777;
}

.heading-1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 10rem;
  font-weight: 100;
  line-height: 1.2;
}

.heading-2 {
  color: #63b99a;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.3;
}

.heading-3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
}

.header__text {
  margin-bottom: 5rem;
  font-size: 2.1rem;
}

.gallery-header {
  margin-bottom: 1.4rem;
}

.lc {
  text-transform: lowercase;
}

q {
  color: #dddddd;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dddddd;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dddddd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dddddd;
}

.txt-wht {
  color: #fff;
}

.txt-blk {
  color: #000;
}

.txt-pri {
  color: #63b99a;
}

.txt-sec {
  color: #207181;
}

.not-offered {
  color: #dddddd;
  text-decoration: line-through;
  letter-spacing: -1px;
}

.telephone {
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 1rem;
}

.copyright {
  font-size: 1.2rem;
}

.extra-price {
  font-weight: 900;
}

/*===========
MEDIA QUERIES
=============*/
@media only screen and (max-device-width: 1024px) {
  .heading-1 {
    font-size: 8rem;
  }
}

@media only screen and (max-device-width: 990px) {
  .heading-1 {
    font-size: 7rem;
  }
}

@media only screen and (max-device-width: 770px) {
  .heading-2 {
    font-size: 5.5rem;
  }
}

@media only screen and (max-device-width: 720px) {
  .heading-1 {
    font-size: 6rem;
  }
}

@media only screen and (max-device-width: 600px) {
  p {
    font-size: 2.1rem;
    text-align: left;
  }
  .heading-1 {
    font-size: 5rem;
  }
  .heading-2 {
    font-size: 5rem;
    font-weight: 300;
  }
}

@media only screen and (max-device-width: 480px) {
  .heading-1 {
    font-size: 4.5rem;
  }
  .heading-2 {
    font-size: 4.5rem;
    font-weight: 300;
  }
  .heading-3 {
    font-size: 2rem;
  }
}

.btn, .btn:link, .btn:visited {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border: 0;
  border-radius: 10rem;
  transition: all .2s;
  outline: none;
  justify-self: center;
  color: #fff;
  background-color: #63b99a;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #4dad8a;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white, .btn--white:link, .btn--white:visited, .btn--white:hover {
  background-color: #fff;
  background: #fff;
  color: #777;
}

.btn--white:hover {
  color: #63b99a;
}

.btn--white a {
  text-decoration: none;
  color: #777;
}

.btn--white a:hover {
  color: #63b99a;
}

@media only screen and (max-device-width: 710px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.6rem;
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 58rem;
}

.card-ap {
  height: 45.5rem;
}

.card-bp {
  height: 62.5rem;
}

.card-ev {
  height: 53.5rem;
}

.card-mv {
  height: 48.5rem;
}

.card-pp {
  height: 53.5rem;
}

.card-re {
  height: 53.5rem;
}

.card__side {
  height: 58rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  perspective: 0;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side-ap {
  height: 45.5rem;
}

.card__side-bp {
  height: 62.5rem;
}

.card__side-ed {
  height: 53.5rem;
}

.card__side-ev {
  height: 53.5rem;
}

.card__side-mv {
  height: 48.5rem;
}

.card__side-pp {
  height: 53.5rem;
}

.card__side-re {
  height: 53.5rem;
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541);
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-position: center;
}

.card__picture--aerial-photography1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/aerial-photography-2.jpg);
}

.card__picture--aerial-photography2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/aerial-photography-3.jpg);
}

.card__picture--aerial-photography3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/aerial-photography-4.jpg);
}

.card__picture--business-promo1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/business-promo-2.png);
}

.card__picture--business-promo2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/business-promo-3.png);
}

.card__picture--business-promo3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/business-promo-4.png);
}

.card__picture--editing1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/editing-2.png);
}

.card__picture--editing2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/editing-3.png);
}

.card__picture--editing3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/editing-4.png);
}

.card__picture--events1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/events-2.png);
}

.card__picture--events2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/events-3.png);
}

.card__picture--events3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/events-4.png);
}

.card__picture--music-videos1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/music-videos-2.png);
}

.card__picture--music-videos2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/music-videos-3.png);
}

.card__picture--music-videos3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/music-videos-4.png);
}

.card__picture--personal-promo1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/personal-promo-2.jpg);
}

.card__picture--personal-promo2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/personal-promo-3.jpg);
}

.card__picture--personal-promo3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/personal-promo-4.jpg);
}

.card__picture--real-estate1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/real-estate-2.png);
}

.card__picture--real-estate2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/real-estate-3.png);
}

.card__picture--real-estate3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/real-estate-4.png);
}

.card__picture--wedding1 {
  background-image: linear-gradient(to right bottom, #7ac4a9, #4dad8a), url(../img/wedding-2.jpg);
  background-position: top;
}

.card__picture--wedding2 {
  background-image: linear-gradient(to right bottom, #f7c381, #f3a541), url(../img/wedding-3.jpg);
}

.card__picture--wedding3 {
  background-image: linear-gradient(to right bottom, #2a95aa, #164d58), url(../img/wedding-4.png);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 17rem;
  right: 0;
  width: 100%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(122, 196, 169, 0.85), rgba(77, 173, 138, 0.85));
}

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(247, 195, 129, 0.85), rgba(243, 165, 65, 0.85));
}

.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(42, 149, 170, 0.85), rgba(22, 77, 88, 0.85));
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 8rem;
  font-weight: 100;
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
  }
  .card__heading--re {
    top: 12rem;
  }
  .card__heading--adjust-down {
    top: 17rem;
  }
  .card__heading--adjust-up {
    top: 12rem;
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value, .card__price-only {
    text-align: center;
  }
  .card__price-value {
    font-size: 6rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 6vw);
  grid-gap: 1.5rem;
  margin-bottom: 6rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery__item--2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.gallery__item--3 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}

.gallery__item--4 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 3;
}

.gallery__item--5 {
  grid-column: 1 / span 4;
  grid-row: 6 / span 3;
}

.gallery__item--6 {
  grid-column: 5 / span 4;
  grid-row: 6 / span 3;
}

@media only screen and (max-device-width: 420px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery__item {
    height: 50vw;
  }
}

.main-gallery {
  background: #333;
  position: relative;
}

.gallery-cell {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 3.5rem;
  margin-bottom: 10rem;
  padding: 0 2rem;
}

.testimonial-avatar {
  width: 10rem;
  border-radius: 50%;
}

.testimonial-quote {
  font-family: "Lato", sans-serif;
  display: block;
  font-size: 24px;
  font-weight: 300;
  padding: 20px 0;
}

.testimonial-author {
  font-family: "Lato", sans-serif;
  display: block;
  font-weight: 800;
  color: #63b99a;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 3rem;
}

/* white circles */
.flickity-page-dots .dot {
  width: 1rem;
  height: 1rem;
  opacity: 1;
  background: transparent;
  border: 2px solid #63b99a;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #63b99a;
}

@media only screen and (min-device-width: 800px) {
  .testimonial {
    margin: 3.5rem auto 10rem auto;
  }
}

.header {
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0rem, 100% 0, 100% 90%, 0 100%);
  display: grid;
  grid-column: full-start / full-end;
  color: #fff;
  align-content: stretch;
  justify-content: center;
  grid-template-rows: 1fr;
  padding: 3rem;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
}

.header-logo {
  height: 11rem;
}

.header__text-box {
  align-self: center;
  justify-self: center;
  text-align: center;
  max-width: 100rem;
}

.header__text {
  margin: 3rem 0 10rem 0;
}

.home-header {
  background: linear-gradient(to right bottom, rgba(99, 185, 154, 0.9), rgba(32, 113, 129, 0.9)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.our-work-header {
  background: linear-gradient(to right bottom, rgba(99, 185, 154, 0.9), rgba(32, 113, 129, 0.9)), url(../img/our-work-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/about-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.contact-header {
  background: linear-gradient(to right bottom, rgba(247, 195, 129, 0.9), rgba(243, 165, 65, 0.9)), url(../img/contact-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.aerial-photography-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/aerial-photography-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.business-promo-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/business-promo-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.editing-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/editing-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.events-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/events-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.music-videos-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/music-videos-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.personal-promo-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/personal-promo-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.real-estate-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/real-estate-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.wedding-header {
  background: linear-gradient(to right bottom, rgba(42, 149, 170, 0.9), rgba(22, 77, 88, 0.9)), url(../img/wedding-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (max-device-width: 1024px) {
  .header__text-box {
    margin-top: 7rem;
  }
}

@media only screen and (max-device-width: 1024px) {
  .header__logo {
    top: 3rem;
    left: 3rem;
  }
  .header-logo {
    height: 10rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .header {
    padding-bottom: 10rem;
  }
  .header__logo {
    position: absolute;
    top: 2.1rem;
    left: 2.5rem;
  }
  .header-logo {
    height: 8.5rem;
  }
  .header__text {
    margin: 2rem 0 4rem 0;
  }
}

.navigation {
  position: absolute;
  z-index: 1000;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#7ac4a9, #2a95aa);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  transform: translateX(-100rem);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #63b99a;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  transform: translateX(0);
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}

@media only screen and (max-device-width: 1024px) {
  .navigation__button, .navigation__background {
    transform: scale(0.9) translate(1rem, -0.5rem);
  }
}

@media only screen and (max-device-width: 480px) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 2.2rem;
  }
  .navigation__button, .navigation__background {
    transform: scale(0.8) translate(3rem, -3rem);
  }
}

.our-work,
.photo-gal {
  background-color: #efefef;
  padding: 14rem 3rem 20rem 3rem;
  grid-column: full-start / full-end;
  text-align: center;
  display: grid;
}

.our-work__text-box,
.photo-gal__text-box {
  margin-bottom: 6rem;
  max-width: 100rem;
  justify-self: center;
}

.vid-gallery {
  margin-bottom: 6rem;
  display: grid;
  grid-template-areas: "vid1 vid1 vid1 vid2 vid2 vid2" "vid3 vid3 vid4 vid4 vid5 vid5";
  grid-gap: 3rem;
}

.vid-gallery .video {
  height: 18vw;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.3s;
}

.vid-gallery .video:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.vid-gallery .v1 {
  grid-area: vid1;
  height: 25vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wedding_ryan-emily.jpg);
}

.vid-gallery .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wedding_ryan-emily.jpg);
}

.vid-gallery .v2 {
  grid-area: vid2;
  height: 25vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/dentist_cedar-pearl.jpg);
}

.vid-gallery .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/dentist_cedar-pearl.jpg);
}

.vid-gallery .v3 {
  grid-area: vid3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lagoon-bc.jpg);
}

.vid-gallery .v3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/lagoon-bc.jpg);
}

.vid-gallery .v4 {
  grid-area: vid4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid-montgomery.jpg);
}

.vid-gallery .v4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid-montgomery.jpg);
}

.vid-gallery .v5 {
  grid-area: vid5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/realestate-maribeth.jpg);
}

.vid-gallery .v5:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/realestate-maribeth.jpg);
}

.fas {
  height: 13rem;
  width: 13rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-play {
  background-image: url(../img/play-btn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-device-width: 1024px) {
  .fas {
    height: 10rem;
    width: 10rem;
  }
}

@media only screen and (max-device-width: 770px) {
  .our-work {
    padding: 12rem 3rem 17rem 3rem;
  }
  .fas {
    height: 8rem;
    width: 8rem;
  }
}

@media only screen and (max-device-width: 710px) {
  .vid-gallery {
    grid-template-areas: "vid1 vid1" "vid2 vid3" "vid4 vid5";
    margin-bottom: 4rem;
  }
  .vid-gallery .video {
    height: 25vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery {
    grid-template-areas: "vid1" "vid2" "vid3" "vid4" "vid5";
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery .video {
    height: 16rem;
  }
}

.packages {
  margin: -4rem 0;
  padding: 10rem 0 14rem 0;
  grid-column: full-start / full-end;
  text-align: center;
  display: grid;
}

.packages__text-box {
  margin-bottom: 6rem;
  max-width: 100rem;
  justify-self: center;
}

.packages__container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-gap: 2rem;
}

.packages__container a {
  text-decoration: none;
}

.packages__cards {
  display: grid;
  grid-column: center-start / center-end;
  column-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.packages__list-box {
  margin: 8rem auto 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.packages__list-box li {
  list-style: none;
  margin-top: 1rem;
  line-height: 1.4;
}

.packages__list-box .heading-3 {
  color: #63b99a;
}

@media only screen and (max-device-width: 1024px) {
  .packages {
    margin-top: -6rem;
    padding: 8rem 0 6rem 0;
  }
  .packages__text-box {
    margin-bottom: 3rem;
  }
  .packages__container {
    display: flex;
    justify-content: center;
    padding: 0 3rem;
  }
  .packages__list-box {
    margin-top: 4rem;
  }
}

@media only screen and (max-device-width: 770px) {
  .packages__cards {
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    row-gap: 3rem;
  }
}

.services,
.contact {
  margin: -4rem 0;
  padding: 10rem 0 14rem 0;
  grid-column: center-start / center-end;
  text-align: center;
  display: grid;
}

.services__text-box,
.contact__text-box {
  margin-bottom: 6rem;
  max-width: 100rem;
  justify-self: center;
}

.services__container,
.contact__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  grid-gap: 2rem;
}

.services__container a,
.contact__container a {
  text-decoration: none;
}

.services__container--block,
.contact__container--block {
  height: 20rem;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;
}

.services__container--block .heading-3,
.contact__container--block .heading-3 {
  display: block;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.35);
}

.services__container--block .logo-badge,
.contact__container--block .logo-badge {
  height: 85%;
  opacity: 0.3;
}

.services__container--block:hover:not(:nth-child(5)),
.contact__container--block:hover:not(:nth-child(5)) {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.services__weddings,
.contact__weddings {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/wedding-1.jpg);
  background-size: cover;
  transition: all 0.2s;
}

.services__weddings:hover,
.contact__weddings:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wedding-1.jpg);
}

.services__real-estate,
.contact__real-estate {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/real-estate-1.jpg);
  background-size: cover;
}

.services__real-estate:hover,
.contact__real-estate:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/real-estate-1.jpg);
}

.services__biz-promo,
.contact__biz-promo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/business-promo-1.jpg);
  background-size: cover;
}

.services__biz-promo:hover,
.contact__biz-promo:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/business-promo-1.jpg);
}

.services__personal-promo,
.contact__personal-promo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/personal-promo-0.jpg);
  background-size: cover;
  background-position: center;
}

.services__personal-promo:hover,
.contact__personal-promo:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/personal-promo-0.jpg);
}

.services__music-vid,
.contact__music-vid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/music-video-1.png);
  background-size: cover;
}

.services__music-vid:hover,
.contact__music-vid:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/music-video-1.png);
}

.services__aerial,
.contact__aerial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/aerial-photo-1.jpg);
  background-size: cover;
  background-position: center;
}

.services__aerial:hover,
.contact__aerial:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/aerial-photo-1.jpg);
}

.services__events,
.contact__events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/events-1.png);
  background-size: cover;
}

.services__events:hover,
.contact__events:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/events-1.png);
}

.services__editing,
.contact__editing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/editing-1.png);
  background-size: cover;
}

.services__editing:hover,
.contact__editing:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/editing-1.png);
}

@media only screen and (max-width: 1246px) {
  .services__logo {
    display: none !important;
  }
}

@media only screen and (max-device-width: 770px) {
  .services {
    grid-column: full-start / full-end;
    margin: -8rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .services__container {
    grid-gap: 1rem;
  }
  .services__container--block {
    height: 30rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .services {
    padding: 10rem 3rem 12rem 3rem;
  }
  .services__container {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .services__container--block {
    height: 18rem;
  }
  .services__text-box {
    margin-bottom: 5rem;
  }
}

.testimonials {
  margin-top: -14rem;
  background-color: #333;
  grid-column: full-start / full-end;
  text-align: center;
  display: grid;
}

.testimonials__text-box {
  padding-top: 16rem;
  max-width: 100rem;
  justify-self: center;
}

@media only screen and (max-device-width: 480px) {
  .testimonials {
    margin-top: -14rem;
  }
  .testimonials__text-box {
    padding-top: 14rem;
  }
}

.about__photo {
  width: 40rem;
  margin: 4rem auto;
}

.about__text {
  margin-bottom: 4rem;
}

@media only screen and (max-device-width: 1024px) {
  .about__photo {
    width: 30rem;
  }
}

@media only screen and (max-device-width: 420px) {
  .about__photo {
    width: 26rem;
    margin: 2rem auto;
  }
}

.vid-gallery-aerial-photography {
  grid-template-areas: "vid1 vid2 vid3";
}

.vid-gallery-aerial-photography .video {
  height: 18vw;
}

.vid-gallery-aerial-photography .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wedding_ryan-emily.jpg);
}

.vid-gallery-aerial-photography .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wedding_ryan-emily.jpg);
}

.vid-gallery-aerial-photography .v2 {
  grid-area: vid2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wedding_ryan-emily.jpg);
}

.vid-gallery-aerial-photography .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wedding_ryan-emily.jpg);
}

.vid-gallery-aerial-photography .v3 {
  grid-area: vid3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wedding_ryan-emily.jpg);
}

.vid-gallery-aerial-photography .v3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wedding_ryan-emily.jpg);
}

@media only screen and (max-device-width: 710px) {
  .vid-gallery-aerial-photography {
    grid-template-areas: "vid1 vid1" "vid2 vid3";
    margin-bottom: 4rem;
  }
  .vid-gallery-aerial-photography .video {
    height: 25vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-aerial-photography {
    grid-template-areas: "vid1" "vid2" "vid3";
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery-aerial-photography .video {
    height: 16rem;
  }
}

.vid-gallery-business-promo {
  grid-template-areas: "vid1 vid2 vid3 vid4";
}

.vid-gallery-business-promo .video {
  height: 16vw;
}

.vid-gallery-business-promo .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_bp-1.jpg);
}

.vid-gallery-business-promo .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_bp-1.jpg);
}

.vid-gallery-business-promo .v2 {
  grid-area: vid2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_bp-2.jpg);
}

.vid-gallery-business-promo .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wvid_bp-2.jpg);
}

.vid-gallery-business-promo .v3 {
  grid-area: vid3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_bp-3.jpg);
}

.vid-gallery-business-promo .v3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_bp-3.jpg);
}

.vid-gallery-business-promo .v4 {
  grid-area: vid4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_bp-4.jpg);
}

.vid-gallery-business-promo .v4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_bp-4.jpg);
}

@media only screen and (max-device-width: 770px) {
  .vid-gallery-business-promo {
    grid-template-areas: "vid1 vid2" "vid3 vid4";
    margin-bottom: 4rem;
  }
  .vid-gallery-business-promo .video {
    height: 22vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-business-promo {
    grid-template-areas: "vid1" "vid2" "vid3" "vid4" "vid5";
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery-business-promo .video {
    height: 18rem;
  }
}

.contact__text-box {
  margin-bottom: 10rem;
}

.contact__text-box span {
  font-weight: 700;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__container .heading-3 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.contact__container p {
  font-size: 2rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact__form .input {
  width: 100%;
  border: 1px solid #7ac4a9;
  border-radius: 4px;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.contact__form--message {
  min-height: 10rem;
  margin-bottom: 2rem;
}

.recaptcha {
  margin-bottom: 1rem;
}

@media only screen and (max-device-width: 480px) {
  .contact {
    grid-column: full-start / full-end;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .contact__text-box {
    margin-bottom: 4rem;
  }
  .contact__container {
    grid-template-columns: 1fr;
  }
  .contact__container .heading-3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

.vid-gallery-editing {
  grid-template-areas: ". vid1 vid1 .";
}

.vid-gallery-editing .video {
  height: 25vw;
}

.vid-gallery-editing .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_ed-1.jpg);
}

.vid-gallery-editing .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_ed-1.jpg);
}

@media only screen and (max-device-width: 770px) {
  .vid-gallery-editing {
    grid-template-areas: "vid1";
    margin-bottom: 4rem;
  }
  .vid-gallery-editing .video {
    height: 48vw;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-editing {
    grid-template-areas: "vid1";
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
}

.vid-gallery-events {
  grid-template-columns: 1fr, 1fr;
}

.vid-gallery-events .video {
  height: 22vw;
}

.vid-gallery-events .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_ev-1.jpg);
}

.vid-gallery-events .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_ev-1.jpg);
}

.vid-gallery-events .v2 {
  grid-area: vid2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_ev-2.jpg);
}

.vid-gallery-events .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_ev-2.jpg);
}

@media only screen and (max-device-width: 710px) {
  .vid-gallery-events .video {
    height: 25vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-events {
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery-events .video {
    height: 16rem;
  }
}

.vid-gallery-music-videos {
  grid-template-columns: 1fr, 1fr;
}

.vid-gallery-music-videos .video {
  height: 22vw;
}

.vid-gallery-music-videos .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_mv-1.jpg);
}

.vid-gallery-music-videos .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_mv-1.jpg);
}

.vid-gallery-music-videos .v2 {
  grid-area: vid2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_mv-2.jpg);
}

.vid-gallery-music-videos .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_mv-2.jpg);
}

@media only screen and (max-device-width: 710px) {
  .vid-gallery-music-videos .video {
    height: 25vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-music-videos {
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery-music-videos .video {
    height: 16rem;
  }
}

.vid-gallery-personal-promo {
  grid-template-areas: " vid1 vid1 vid1 vid1 vid2 vid2 vid2 vid2 vid3 vid3 vid3 vid3" " vid4 vid4 vid4 vid4 vid5 vid5 vid5 vid5 vid6 vid6 vid6 vid6" " vid7 vid7 vid7 vid8 vid8 vid8 vid9 vid9 vid9 vid10 vid10 vid10";
}

.vid-gallery-personal-promo .video {
  height: 18vw;
}

.vid-gallery-personal-promo .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-1.jpg);
}

.vid-gallery-personal-promo .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-1.jpg);
}

.vid-gallery-personal-promo .v2 {
  grid-area: vid2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-2.jpg);
}

.vid-gallery-personal-promo .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-2.jpg);
}

.vid-gallery-personal-promo .v3 {
  grid-area: vid3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-3.jpg);
}

.vid-gallery-personal-promo .v3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-3.jpg);
}

.vid-gallery-personal-promo .v4 {
  grid-area: vid4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-4.jpg);
}

.vid-gallery-personal-promo .v4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-4.jpg);
}

.vid-gallery-personal-promo .v5 {
  grid-area: vid5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-5.jpg);
}

.vid-gallery-personal-promo .v5:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-5.jpg);
}

.vid-gallery-personal-promo .v6 {
  grid-area: vid6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-6.jpg);
}

.vid-gallery-personal-promo .v6:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-6.jpg);
}

.vid-gallery-personal-promo .v7 {
  grid-area: vid7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-7.jpg);
}

.vid-gallery-personal-promo .v7:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-7.jpg);
}

.vid-gallery-personal-promo .v8 {
  grid-area: vid8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-8.jpg);
}

.vid-gallery-personal-promo .v8:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-8.jpg);
}

.vid-gallery-personal-promo .v9 {
  grid-area: vid9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-9.jpg);
}

.vid-gallery-personal-promo .v9:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-9.jpg);
}

.vid-gallery-personal-promo .v10 {
  grid-area: vid10;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_pp-10.jpg);
}

.vid-gallery-personal-promo .v10:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_pp-10.jpg);
}

@media only screen and (max-device-width: 770px) {
  .vid-gallery-personal-promo {
    grid-template-areas: "vid1 vid2" "vid3 vid4" "vid5 vid6" "vid7 vid8" "vid9 vid10";
    margin-bottom: 4rem;
  }
  .vid-gallery-personal-promo .video {
    height: 24vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-personal-promo {
    grid-template-areas: "vid1" "vid2" "vid3" "vid4" "vid5" "vid6" "vid7" "vid8" "vid9" "vid10";
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery-personal-promo .video {
    height: 16rem;
  }
}

.vid-gallery-real-estate {
  grid-template-areas: "vid1 vid2 vid3" "vid4 vid5 vid6";
}

.vid-gallery-real-estate .video {
  height: 18vw;
}

.vid-gallery-real-estate .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_re-1.jpg);
}

.vid-gallery-real-estate .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_re-1.jpg);
}

.vid-gallery-real-estate .v2 {
  grid-area: vid2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_re-2.jpg);
}

.vid-gallery-real-estate .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_re-2.jpg);
}

.vid-gallery-real-estate .v3 {
  grid-area: vid3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_re-3.jpg);
}

.vid-gallery-real-estate .v3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_re-3.jpg);
}

.vid-gallery-real-estate .v4 {
  grid-area: vid4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_re-4.jpg);
}

.vid-gallery-real-estate .v4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_re-4.jpg);
}

.vid-gallery-real-estate .v5 {
  grid-area: vid5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_re-5.jpg);
}

.vid-gallery-real-estate .v5:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_re-5.jpg);
}

.vid-gallery-real-estate .v6 {
  grid-area: vid6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_re-6.jpg);
}

.vid-gallery-real-estate .v6:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_re-6.jpg);
}

@media only screen and (max-device-width: 710px) {
  .vid-gallery-real-estate {
    grid-template-areas: "vid1 vid2" "vid3 vid4" "vid5 vid6";
    margin-bottom: 4rem;
  }
  .vid-gallery-real-estate .video {
    height: 25vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-real-estate {
    grid-template-areas: "vid1" "vid2" "vid3" "vid4" "vid5" "vid6";
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery-real-estate .video {
    height: 16rem;
  }
}

.vid-gallery-wedding {
  grid-template-areas: "vid1 vid2 vid3";
}

.vid-gallery-wedding .video {
  height: 22vw;
}

.vid-gallery-wedding .v1 {
  grid-area: vid1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_wed-1.jpg);
}

.vid-gallery-wedding .v1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_wed-1.jpg);
}

.vid-gallery-wedding .v2 {
  grid-area: vid2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_wed-2.jpg);
}

.vid-gallery-wedding .v2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_wed-2.jpg);
}

.vid-gallery-wedding .v3 {
  grid-area: vid3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_wed-3.jpg);
}

.vid-gallery-wedding .v3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_wed-3.jpg);
}

@media only screen and (max-device-width: 710px) {
  .vid-gallery-wedding .video {
    height: 25vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work__text-box {
    margin-bottom: 5rem;
  }
  .vid-gallery-wedding {
    grid-template-areas: "vid1" "vid2" "vid3" "vid4" "vid5";
    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
  .vid-gallery-wedding .video {
    height: 16rem;
  }
}

.portfolio {
  margin-bottom: 2rem;
}

.our-work__vid-gallery {
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.our-work__vid-gallery .video {
  height: 10vw;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.3s;
}

.our-work__vid-gallery .video:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.our-work__vid-gallery .v1-wed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v1-wed.jpg);
}

.our-work__vid-gallery .v1-wed:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v1-wed.jpg);
}

.our-work__vid-gallery .v2-wed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v2-wed.jpg);
}

.our-work__vid-gallery .v2-wed:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v2-wed.jpg);
}

.our-work__vid-gallery .v3-wed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v3-wed.jpg);
}

.our-work__vid-gallery .v3-wed:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v3-wed.jpg);
}

.our-work__vid-gallery .v1-re {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v1-re.jpg);
}

.our-work__vid-gallery .v1-re:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v1-re.jpg);
}

.our-work__vid-gallery .v2-re {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v2-re.jpg);
}

.our-work__vid-gallery .v2-re:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v2-re.jpg);
}

.our-work__vid-gallery .v3-re {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v3-re.jpg);
}

.our-work__vid-gallery .v3-re:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v3-re.jpg);
}

.our-work__vid-gallery .v4-re {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v4-re.jpg);
}

.our-work__vid-gallery .v4-re:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v4-re.jpg);
}

.our-work__vid-gallery .v5-re {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v5-re.jpg);
}

.our-work__vid-gallery .v5-re:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v5-re.jpg);
}

.our-work__vid-gallery .v6-re {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v6-re.jpg);
}

.our-work__vid-gallery .v6-re:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v6-re.jpg);
}

.our-work__vid-gallery .v1-bp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v1-bp.jpg);
}

.our-work__vid-gallery .v1-bp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v1-bp.jpg);
}

.our-work__vid-gallery .v2-bp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v2-bp.jpg);
}

.our-work__vid-gallery .v2-bp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v2-bp.jpg);
}

.our-work__vid-gallery .v3-bp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v3-bp.jpg);
}

.our-work__vid-gallery .v3-bp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v3-bp.jpg);
}

.our-work__vid-gallery .v4-bp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/vid_bp-4.jpg);
}

.our-work__vid-gallery .v4-bp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vid_bp-4.jpg);
}

.our-work__vid-gallery .v1-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v1-pp.jpg);
}

.our-work__vid-gallery .v1-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v1-pp.jpg);
}

.our-work__vid-gallery .v2-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v2-pp.jpg);
}

.our-work__vid-gallery .v2-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v2-pp.jpg);
}

.our-work__vid-gallery .v3-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v3-pp.jpg);
}

.our-work__vid-gallery .v3-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v3-pp.jpg);
}

.our-work__vid-gallery .v4-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v4-pp.jpg);
}

.our-work__vid-gallery .v4-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v4-pp.jpg);
}

.our-work__vid-gallery .v5-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v5-pp.jpg);
}

.our-work__vid-gallery .v5-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v5-pp.jpg);
}

.our-work__vid-gallery .v6-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v6-pp.jpg);
}

.our-work__vid-gallery .v6-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v6-pp.jpg);
}

.our-work__vid-gallery .v7-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v7-pp.jpg);
}

.our-work__vid-gallery .v7-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v7-pp.jpg);
}

.our-work__vid-gallery .v8-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v8-pp.jpg);
}

.our-work__vid-gallery .v8-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v8-pp.jpg);
}

.our-work__vid-gallery .v9-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v9-pp.jpg);
}

.our-work__vid-gallery .v9-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v9-pp.jpg);
}

.our-work__vid-gallery .v10-pp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v10-pp.jpg);
}

.our-work__vid-gallery .v10-pp:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v10-pp.jpg);
}

.our-work__vid-gallery .v1-mv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v1-mv.jpg);
}

.our-work__vid-gallery .v1-mv:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v1-mv.jpg);
}

.our-work__vid-gallery .v2-mv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v2-mv.jpg);
}

.our-work__vid-gallery .v2-mv:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v2-mv.jpg);
}

.our-work__vid-gallery .v1-ev {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v1-ev.jpg);
}

.our-work__vid-gallery .v1-ev:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v1-ev.jpg);
}

.our-work__vid-gallery .v2-ev {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v2-ev.jpg);
}

.our-work__vid-gallery .v2-ev:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v2-ev.jpg);
}

.our-work__vid-gallery .v1-ed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/v1-ed.jpg);
}

.our-work__vid-gallery .v1-ed:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/v1-ed.jpg);
}

@media only screen and (max-device-width: 1470px) {
  .our-work__vid-gallery .video {
    height: 14vw;
  }
}

@media only screen and (max-device-width: 768px) {
  .gallery-header {
    margin-top: -2rem;
  }
  .our-work__vid-gallery {
    grid-gap: 2rem;
  }
}

@media only screen and (max-device-width: 420px) {
  .portfolio {
    margin-bottom: 0rem;
  }
  .our-work__vid-gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.4rem;
  }
  .our-work__vid-gallery .video {
    height: 22vw;
  }
}
