

.services {
    margin: -4rem 0;
    padding: 10rem 0 14rem 0;
    grid-column: center-start / center-end;
    text-align:center;
    display:grid;
    
    &__text-box {
        margin-bottom: 6rem;
        max-width: 100rem;
        justify-self: center;

        
    }

    &__container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
        grid-gap: 2rem;

        a {
            text-decoration:none;
        }
        
        &--block{
                
                height: 20rem;
                display: grid;
                align-items: center;
                justify-items: center;
                
                
            .logo-badge {
                 height: 85%;
                 opacity:.3;
            }

            transition:all .3s;

            &:hover:not(:nth-child(5)) {
               
                transform:translateY(-3px);
                box-shadow: 0 .5rem 1rem rgba($color-black, 0.3);
               
                
            }
                
        }
    }   
    
    &__weddings{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)),url(../img/wedding-1.jpg);
        background-size:cover;
        transition: all .2s;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/wedding-1.jpg);
            
        }
    }

    &__real-estate{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)),url(../img/real-estate-1.jpg);
        background-size:cover;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/real-estate-1.jpg);
        }
    }

    &__biz-promo{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)),url(../img/business-promo-1.jpg);
        background-size:cover;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/business-promo-1.jpg);
        }
    }

    &__personal-promo{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)),url(../img/personal-promo-2.jpg);
        background-size:cover;
        background-position: center;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/personal-promo-2.jpg);
        }
    }
    
    &__music-vid{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)),url(../img/music-video-1.png);
        background-size:cover;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/music-video-1.png);
        }
    }

    &__aerial{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)),url(../img/aerial-photo-1.jpg);
        background-size:cover;
        background-position:center;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/aerial-photo-1.jpg);
        }
    }

    &__events{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)),url(../img/events-1.png);
        background-size:cover;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/events-1.png);
        }
    }

    &__editing{
        background-image: linear-gradient(rgba($color-black,.6),rgba($color-black,.6)), url(../img/editing-1.png);
        background-size:cover;

        &:hover{
            background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/editing-1.png);
        }
    }
    
}

@media only screen and (max-width: 1246px) {
    .services__logo {
        display:none !important;
    }
}

@media only screen and (max-device-width: 770px){
    .services{
        grid-column: full-start / full-end;
        margin: -8rem 0;
        padding-left: 3rem;
        padding-right: 3rem;
    


        &__container {
            grid-gap: 1rem;

            &--block {
                height: 30rem;
            }
        }
    }
}

@media only screen and (max-device-width: 480px){
    .services {
        
        padding: 10rem 3rem 12rem 3rem;
    

        &__container {
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

            &--block {
                height: 18rem;
            }
        }

        
        &__text-box{
            margin-bottom: 5rem;
        }
        


    }
}