.btn {
    &,
    &:link,
    &:visited,
     {
        font-size: 1.4rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border:0;
        border-radius: 10rem;
        transition: all .2s;
        outline:none;
        justify-self: center;
        color: $color-white;
        background-color: $color-primary;
        cursor: pointer;
        //background: linear-gradient(to right bottom, $color-primary, $color-secondary);
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        background-color: $color-primary-dk;
        
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
        
    }

    &--white {

      &,
      &:link,
      &:visited,
      &:hover{
        background-color: $color-white;
        background: $color-white;
        color: $color-grey-md;
      }

      &:hover {
        color: $color-primary;
      }
    
      
    & a {
      text-decoration:none;
      color: $color-grey-md;

      &:hover {
        color: $color-primary;
      }
    }
    }

}

@media only screen and (max-device-width: 710px){
  .btn {
    &,
    &:link,
    &:visited {
      font-size: 1.6rem;
    }
  }
}