.vid-gallery-editing {
  grid-template-areas: "vid1";

  .video {
    height: 48vw;
  }

  .v1 {
    grid-area: vid1;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_editing-1.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_editing-1.jpg);
    }
  }

  .v2 {
    grid-area: vid2;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_editing-2.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_editing-2.jpg);
    }
  }

  .v3 {
    grid-area: vid3;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_editing-3.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_editing-3.jpg);
    }
  }
}

@media only screen and (max-device-width: 710px) {
  .vid-gallery-editing {
    grid-template-areas: "vid1";
    margin-bottom: 4rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work {
    &__text-box {
      margin-bottom: 5rem;
    }
  }

  .vid-gallery-editing {
    grid-template-areas: "vid1";

    grid-gap: 1rem;
    margin-bottom: 4rem;
  }
}
