.vid-gallery-music-videos {
  // grid-template-areas:    "vid1 vid2 vid3";
  grid-template-columns: 1fr, 1fr;

  .video {
    height: 22vw;
  }

  .v1 {
    grid-area: vid1;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_mv-1.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_mv-1.jpg);
    }
  }

  .v2 {
    grid-area: vid2;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_mv-2.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_mv-2.jpg);
    }
  }

  // .v3{
  //     grid-area: vid3;
  //     background-image: linear-gradient(rgba($color-black,.5),rgba($color-black,.5)),url(../img/wedding_ryan-emily.jpg);

  //     &:hover{
  //         background-image: linear-gradient(rgba($color-black,.1),rgba($color-black,.1)),url(../img/wedding_ryan-emily.jpg);
  //     }
  // }
}

@media only screen and (max-device-width: 710px) {
  // .vid-gallery-music-videos{
  //     grid-template-areas:    "vid1 vid1"
  //                             "vid2 vid3"
  //                             "vid4 vid5";
  //    margin-bottom:4rem;
  // }

  .vid-gallery-music-videos {
    .video {
      height: 25vh;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work {
    &__text-box {
      margin-bottom: 5rem;
    }
  }

  .vid-gallery-music-videos {
    // grid-template-areas:    "vid1"
    //                         "vid2"
    //                         "vid3"
    //                         "vid4"
    //                         "vid5";
    //grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 4rem;

    .video {
      height: 16rem;
    }
  }
}
