.vid-gallery-personal-promo {
  grid-template-areas:
    " vid1 vid1 vid1 vid1 vid2 vid2 vid2 vid2 vid3 vid3 vid3 vid3"
    " vid4 vid4 vid4 vid4 vid5 vid5 vid5 vid5 vid6 vid6 vid6 vid6"
    " vid7 vid7 vid7 vid8 vid8 vid8 vid9 vid9 vid9 vid10 vid10 vid10";

  .video {
    height: 18vw;
  }

  .v1 {
    grid-area: vid1;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-1.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-1.jpg);
    }
  }

  .v2 {
    grid-area: vid2;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-2.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-2.jpg);
    }
  }

  .v3 {
    grid-area: vid3;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-3.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-3.jpg);
    }
  }

  .v4 {
    grid-area: vid4;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-4.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-4.jpg);
    }
  }

  .v5 {
    grid-area: vid5;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-5.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-5.jpg);
    }
  }

  .v6 {
    grid-area: vid6;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-6.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-6.jpg);
    }
  }
  .v7 {
    grid-area: vid7;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-7.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-7.jpg);
    }
  }
  .v8 {
    grid-area: vid8;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-8.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-8.jpg);
    }
  }
  .v9 {
    grid-area: vid9;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-9.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-9.jpg);
    }
  }
  .v10 {
    grid-area: vid10;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/vid_pp-10.jpg);

    &:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        url(../img/vid_pp-10.jpg);
    }
  }
}

@media only screen and (max-device-width: 770px) {
  .vid-gallery-personal-promo {
    grid-template-areas:
      "vid1 vid2"
      "vid3 vid4"
      "vid5 vid6"
      "vid7 vid8"
      "vid9 vid10";
    margin-bottom: 4rem;

    .video {
      height: 24vh;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .our-work {
    &__text-box {
      margin-bottom: 5rem;
    }
  }

  .vid-gallery-personal-promo {
    grid-template-areas:
      "vid1"
      "vid2"
      "vid3"
      "vid4"
      "vid5"
      "vid6"
      "vid7"
      "vid8"
      "vid9"
      "vid10";
    grid-gap: 1rem;
    margin-bottom: 4rem;

    .video {
      height: 16rem;
    }
  }
}
